:root {
  --color: #334e4e;
  --color-light: #445e5e;
  --font: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', helvetica, arial, sans-serif;
}

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
}
