section{
  //max-width: 400px;
  //margin:auto;
  //
  //@media screen and (min-width:768px){
  //  max-width: 600px;
  //}
}

.wrapper{
  @include wrapper(400px);
  @include media($media-lg){
    @include wrapper(600px);
  }
}

/*
Extra classes and variables for grid demo
*/


$purple: #6F50FF;
$lightpurple: #E2DDFF;
$lightestpurple: #F1F1FB;
$grey: #8A8C93;
$lightgrey: #F7F8FA;
$white: #ffffff;
$pink: #FE7499;
$lightpink: #FFD4E0;


body{
  background-color: $lightgrey;
}

h2{
  margin:0;
  @include m($md, bottom);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $grey;

}

h3{
  @include m(0, top);
  font-size: 1.5rem;
  line-height:1.5;
}

h4{
  @include m(0, top);
  font-size: 1.25rem;
  line-height:2;
}

p{
  font-size: 0.875rem;
  line-height:1.5;
}

a {
  color: $purple;
  text-transform: uppercase;
  text-decoration:none;
  font-size: 0.875rem;

  display:inline-block;
  position:relative;

  font-weight:bold;

  @include p($xs, bottom);

  &:after{
    content: "";
    position:absolute;
    left:0;
    bottom:0;
    height:2px;
    width:100%;
    background-color: $purple;
  }
}

section{
  @include p($xl, y);
}

/* Hero Section */

.hero{
  .note{
    color:$white;
    width:50%;
    display:inline-block;
    @include p($md);

    @include media($media-lg){
      @include p($lg);
    }

    &--1{
      background-color: rgba($pink, 0.8);
    }
    &--2{
      background-color: rgba($purple, 0.8);
    }

    p.number{
      font-size: 3rem;
      @include m($sm, bottom);
    }
  }

  .phone{
    @include p($md);

    background-color: rgba($purple, 0.6);
    color:$white;
  }
}

/* About Section */

.about{
  .top{
    width:100%;
    text-align:center;

      @media screen and (min-width:768px) {
        @include m(bottom, lg);
      }

      h3{
        max-width: 80%;
        margin:auto;

        @media screen and (min-width:768px) {
          max-width: 60%;
        }
      }
  }

  .half{
    display:block;

    @include m(auto);

    width:100%;
    max-width: 300px;

    @media screen and (min-width:768px){
      display:inline-block;
    }
  }
  .left{
    @include p(bottom, lg);

    @media screen and (min-width:768px) {
    }

    h4{
      font-weight:300;
      line-height:1.5;
    }
  }
  .right{
    background-color:$lightpurple;
    @include p($lg, top);
    @media screen and (min-width:768px) {
      @include m($lg, left);
      @include shadow($color: $purple);

      max-width: calc(300px - 3rem);


    }
  }
}

/* How it works Section */

.how-it-works{

  .top{

    text-align:center;

    .left{

    }
    .right{
      @media screen and (min-width:768px){
        max-width: 80%;
        margin:auto;
      }
    }
  }
  .bottom{


    .tile{
      background-color:$white;
      overflow:hidden;
      position:relative;
      margin-bottom:1rem;
      @include p($lg);
      @include p($xl, top);

      .no{
        display:inline-block;
        font-size: 1.25rem;
        width: $lg;
        margin:0;
      }
      h4{
        display:inline-block;
        font-size: 1.25rem;
        margin-bottom:0;
      }
      p, a{
        margin-left:2rem;
      }


        &:after{
        content:"01";
        font-size:8rem;
        position:absolute;
        left:0;
        top:0;
        transform:translate(-30%, -40%);
        opacity:0.2;

        }

      &--1{
        background-color: $pink;
        color:$white;

        @include shadow;

        a{
          color:$white;
          &:after{
            background-color:$white;
          }
        }
      }

      &--2{
        &:after{
          content: "02";
        }
      }
      &--3{
        &:after{
          content: "03";
        }
      }
    }
  }

}

/* Benefits Section */

.benefits{

  background-color:$purple;
  color:$white;
  .top{

    .left{
      text-align:center;
      h2{
        color: $white;
      }
    }
  }
  .bottom{

  }

  .tile{
    overflow:hidden;
    position:relative;

    @include m($md, bottom);
    @include p($lg);

    h4{
      display:inline-block;
      font-size: 1.25rem;

      @include m(0, bottom);
      @include m($lg, left);

      position:relative;

      i{
        font-size: 1.25rem;
        width: $lg;

        &:before{
          @include m(0);
          position:absolute;
          left: -2rem;
          top: 50%;
          transform: translateY(-50%);

        }
      }
    }
    p, a{
      @include m($lg, left)
    }
  }
}

/* Testimonials Section */

.testimonials{

  h2{
    text-align:center;
  }
  .testimony{


    h4{
      font-size: 1.25rem;
      line-height:1.5;
      font-weight: 300;
      margin-bottom: 0;
    }

    .left{
      background-color:$lightpurple;
    }
    .right{
      background-color:$white;
      @include p($md);
    }
    .controls{

      @mixin control{

        display:inline-block;
        width: 4rem;
        height:4rem;
        font-size: 2rem;
        background-color:$purple;
        color: $white;

        i{
          width:100%;
          height:100%;
          display:block;
          position:relative;

          &:before{
            margin:0;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);

          }
        }
      }

      &__left{
        @include control;
      }
      &__right{
        @include control;
      }
    }
  }
}


/* CTA Section */


.cta{
  background-color: $lightestpurple;
  text-align:center;
  input{
    background-color:$white;
    border:0;
    border-radius: 2rem;
    font-size: 0.875rem;
    @include m($lg, y)
    @include media($media-lg){
      width: 60%;
      @include m(auto, x);
    }
  }
  p{
    font-size: 0.75rem;
  }
}