.container {
  max-width: 100%;
  margin: auto;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 2rem 0;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1200px;
  }
}
