table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;

  thead {
    border-bottom: 2px solid #efefef;
  }

  th {
    text-align: left;
    padding: 0.6rem;
  }

  td {
    text-align: left;
    padding: 0.6rem;
    border-bottom: 1px solid #efefef;
  }

  tfoot {
    border-top: 2px solid #efefef;
  }
}
